<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reyad.cityguide">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.reyad.cityguide.common.loginsignup.SignUp3rdclass" />
        <activity android:name="com.reyad.cityguide.common.loginsignup.SignUp2ndClass" />
        <activity android:name="com.reyad.cityguide.common.loginsignup.StartUp" />
        <activity android:name="com.reyad.cityguide.common.SplashScreen" />
        <activity android:name="com.reyad.cityguide.common.loginsignup.Login" />
        <activity android:name="com.reyad.cityguide.common.loginsignup.SignUp" />
        <activity android:name="com.reyad.cityguide.user.UserDashBoard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>